ul(class='album-list-ul')
    li
        div(class='album')
            div(class='album-content image')
                a(href='#')
                    img(src='http://metroui.org.ua/images/4.jpg')

            div(class='brand')
                span(class='label fg-white') Images
                span(class='badge bg-orange') 12

    li
        div(class='album')
            div(class='album-content image')
                a(href='#')
                    img(src='http://metroui.org.ua/images/4.jpg')
            div(class='brand')
                span(class='label fg-white') Images
                span(class='badge bg-orange') 13