include layout
#logdiv
    form#loginfrm(action='user/login' method='post')
        |用户名：
        input#username(type='text')
        br
        |密 &nbsp;&nbsp;码：
        input#password(type='password')
        br
        input#submit(type='submit' value='登录')